@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
* {
    box-sizing: border-box;
    font-family: 'Indie Flower', cursive;
    list-style: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

/*Header*/

header {
    background-image: linear-gradient(to right, #F14949, #EE8240, #ECD70C, #A8F11F, #69F32D, #26EBC7, #41A4F7, #3E4FFA, #590AE4, #850DC5, #EC21B2, #D90909);
    display: flex;
}

#main, #picture {
    text-align: center;
}

#main {
    width: 60%;
}

#picture {
    width: 40%;
}

h1 {
    font-family: 'Indie Flower', cursive;
    font-size: 62px;
    margin: 10px 0px 55px 40px;
}

h2 {
    font-family: 'Comic Neue', cursive;
    font-size: 25px;
}

#pictureimg {
    border-radius: 2em;
    height: 200px;
    margin-top: 10px;
    width: 70%;
}

/*Wrapper*/

.wrapper {
    margin-top: 10px;
    position: relative;
    vertical-align: top;
}

.wrapper .features {
    background-color: #ffffff;
    border: solid black 2px;
    border-radius: 2em;
    height: 310px;
    margin-left: 10px;
    position: fixed;
    text-align: center;
    width: 180px;
}

.wrapper .features h3 {
    font-size: 25px;
    margin-bottom: 8px;
    margin-top: 15px;
}

.wrapper .features ul li {
    font-size: 20px;
    padding: 10px;
}

.wrapper .features ul #instruc {
    font-family: 'Comic Neue', cursive;
}

.txtCoordenates {
    font-family: 'Comic Neue', cursive;
    font-size: 20px;
    width: 40%;
}

.wrapper .features ul #liBtn {
    margin-top: -11px;
}

#btnApply {
    background-color: white;
    border-color: #008dc9;
    border-radius: 2em;
    color: #008dc9;
    font-family: 'Indie Flower', cursive;
    font-size: 35px;
    font-weight: bolder;
    height: 50px;
    width: 100%;
}

#btnApply:hover {
    background-color: #008dc9;
    color: white;
}

/*CANVAS*/

.wrapper #canvasContent {
    height: 500px;
    margin-left: 230px;
    width: 80%;
}

/*FOOTER*/

footer {
    background-image: linear-gradient(to right, #E4BF17, #E8D217, #EDE316, #FDFF70, #F7FF81);
    display: flex;
    font-size: 22px;
    margin-top: 100px;
}

#rightfooter, #leftfooter {
    text-align: center;
    width: 50%;
}

#leftfooter p {
    float: right;
    font-family: 'Comic Neue', cursive;
    margin-top: 30px;
}

#rightfooter .socialMedia li {
    display: inline-flex;
    padding: 20px;
}

.imgs {
    height: 70px;
    width: 80px;
}